body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Comic Sans MS", "Microsoft JhengHei";
    color: #333;
}

div {
    -webkit-tap-highlight-color: transparent;
}


#outer_container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#order_area_container {
    flex: 1 0 450px;
}

#detail_area_container {
    flex: 1 1 500px;
    background-color: #EAF0ED;
}

#check_area_container {
    flex: 0 1 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    /* overflow-y: overlay; */
    /* overflow-y: auto; */
}

.order_table {
    border-collapse: collapse;
    border: 1px solid black;

}

.order_table tr {
    border: 1px solid #000;
    padding: 15px;
}

.detail_table td {
    padding-right: 5px;
}

.check_table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
    padding: 5px;
}

.check_table tr {
    border: 1px dashed black;
}

.checked_table {
    background-color: gray;
}

.button {
    border: none;
    color: black;
    background-color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    border: 2px solid black;
}